.dashboard {
  font-family: "Flexo-Medium",arial,sans-serif;
  margin: 0 auto;
  width: 71rem;
  margin-bottom: 5rem;
  &__filter {
    width: 20rem;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 9.6rem;
  }
  &__loader {
    margin: 0 auto;
    text-align: center;
    margin-top: 10rem;
    img {
      width: 5rem;
      -webkit-animation:spin 4s linear infinite;
      -moz-animation:spin 4s linear infinite;
      animation:spin 4s linear infinite;
      @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
      @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
      @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    }
  }
  &__heading {
    text-align: center;
  }
  &__content {
    padding: 80px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  &__containerBtn {
    text-align: center;
    margin-top: -5rem;
    button {
      background-color: #30a7d7;
      color: #fff;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      line-height: 125%;
      margin: 1.5625%;
      padding: 10px 40px;
    }
  }
}