.card {
  width: 23.4375%;
  margin-bottom: 80px;
  cursor: pointer;
  &__img {
    img {
      background-color: #F2F2F2;
    }
  }
  &__body {
    padding-left: 10px;
    &-id {
      font-family: "Flexo-Bold",arial,sans-serif;
      color: #919191;
      font-size: 15px;
      margin-top: 0;
      font-weight: 600;
    }
    &-heading {
      font-family: "Flexo-Demi",arial,sans-serif;
      color: #313131;
      font-size: 145%;
      margin-bottom: 5px;
      margin-top: 0;
    }
    &-ability {
      width: 82.4375%;
      margin-top: -10px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.ability {
  margin-right: 10px;
  width: 70px;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  background-color: #a4acaf;
  color: #212121;
  margin-bottom: -10px;
}
.grass {
  color: #212121;
  background-color: #9bcc50;
}
.poison {
  color: white;
  background-color: #b97fc9;
}
.water {
  color: white;
  background-color: #4592c4;
}
.fire {
  color: white;
  background-color: #fd7d24;
}
.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: #212121;
}
.bug {
  color: white;
  background-color: #729f3f;
}
.fairy {
  color: #212121;
  background-color: #fdb9e9;
}
.ghost {
  color: white;
  background-color: #7b62a3;
}
.ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
  color: #212121;
}
.normal {
  background-color: #a4acaf;
  color: #212121;
}
.psychic {
  background-color: #f366b9;
  color: #fff;
}
.steel {
  background-color: #9eb7b8;
  color: #212121;
}
.dark {
  background-color: #707070;
  color: #fff;
}
.electric {
  background-color: #eed535;
  color: #212121;
}
.fighting {
  background-color: #d56723;
  color: #fff;
}
.ice {
  background-color: #51c4e7;
  color: #212121;
}
.rock {
  background-color: #a38c21;
  color: #fff;
}

