.filter {
  display: flex;
  cursor: pointer;
  &__btn {
    background-color: #313131;
    color: white;
    padding: 16px 28px;
    border: none;
    border-radius: 5px;
    width: 16.5rem;
    img {
      color: white;
      width: 1.2rem;
      float: right;
      margin-top: 4px;
    }
  }
}
.option {
  position: absolute;
  padding: 16px 28px;
  padding-top: 10px;
  background-color: #424242;
  color: white;
  border-radius: 5px;
  width: 16.5rem;
  cursor: pointer;
}