.detail {
  font-family: "Flexo-Medium",arial,sans-serif;
  margin: 0 auto;
  width: 60rem;
  margin-bottom: 5rem;
  display: grid;
  &__heading {
    color: #212121;
    float: left;
    font-size: 225%;
    margin-top: 0.5em;
    text-align: center;
    width: 100%;
    word-break: break-word;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__top {
    display: flex;
    &-left {
      width: 50%;
      padding: 20px;
    }
    &-right {
      width: 50%;   
      padding: 20px;
    }
  }
}
.left {
  &__img {
    background-color: #F2F2F2;
    border: none;
    border-radius: 10px;
  }
}
.right {
  &__desc {
    color: #212121;
    font-size: 112.5%;
    line-height: 150%;
  }
  &__data {
    background-color: #30a7d7;
    padding: 18px;
    padding-left: 38px;
    padding-right: 38px;
    border: none;
    border-radius: 10px;
    height: 14rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &-container {
      margin-bottom: -15px;
    }
    &-key {
      color: #fff;
      margin-bottom: -8px;
      font-size: 20px;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    &-value {
      &::first-letter {
        text-transform: uppercase;
      }
      color: #212121;
    }
  }
  &__type {
    &-ability {
      margin-top: -10px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__stats {
    margin-top: 40px;
    background-color: #a4a4a4;
    padding: 16px;
    border-radius: 10px;
    &-content {
      &::first-letter {
        text-transform: uppercase;
      }
    }
    &-heading {
      clear: both;
      color: #212121;
      margin-top: 5px;
    }
  }
  &__button {
    margin-top: 40px;
    float: right;
    button {
      background-color: #ee6b2f;
      color: #fff;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      padding: 10px 38px;
      font-size: 18px;
    }
  }
}
.heading {
  clear: both;
  color: #212121;
  margin-top: 1.25em;
}
.ability {
  font-size: 13px;
  margin-right: 10px;
  width: 32.29%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #a4acaf;
  color: #212121;
  margin-bottom: -10px;
  &::first-letter {
    text-transform: uppercase;
  }
}
.gender {
  display: flex;
  &-img {
    margin-left: -10px;
    width: 3rem;
    height: 3rem;
  }
}
.grass {
  color: #212121;
  background-color: #9bcc50;
}
.poison {
  color: white;
  background-color: #b97fc9;
}
.water {
  color: white;
  background-color: #4592c4;
}
.fire {
  color: white;
  background-color: #fd7d24;
}
.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: #212121;
}
.bug {
  color: white;
  background-color: #729f3f;
}
.fairy {
  color: #212121;
  background-color: #fdb9e9;
}
.ghost {
  color: white;
  background-color: #7b62a3;
}
.ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
  color: #212121;
}
.normal {
  background-color: #a4acaf;
  color: #212121;
}
.psychic {
  background-color: #f366b9;
  color: #fff;
}
.steel {
  background-color: #9eb7b8;
  color: #212121;
}
.dark {
  background-color: #707070;
  color: #fff;
}
.electric {
  background-color: #eed535;
  color: #212121;
}
.fighting {
  background-color: #d56723;
  color: #fff;
}
.ice {
  background-color: #51c4e7;
  color: #212121;
}
.rock {
  background-color: #a38c21;
  color: #fff;
}

